body {
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;
}
nav {
    top: 0;
    width: 100%;
    left: 0;
    font-family: "DM Sans", sans-serif;
    right: 0;
    padding: 10px 0px;
    position: fixed;
    background-color: #141414;
    z-index: 9999;
    color: #fff;
}

nav .links-right {
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    font-size: 17px;
    border: none;
    font-family: "DM Sans", sans-serif;
    transition: 0.3s;
}

nav .links-right:hover {
    color: #ccc;
}

nav .link-left {
    cursor: pointer;
    float: left;
    padding: 10px 5px;
    color: #fff;
    background-color: transparent;
    font-size: 17px;
    margin: 0;
    border: none;
    font-family: "DM Sans", sans-serif;
    transition: 0.3s;
}

nav .link-left:hover {
    color: #ccc;
}

nav img {
    float: left;
    padding: 0 10px;
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin: 0;
}

.image-container {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  margin: 5px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 3px solid #fff;
  transition: transform 0.25s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}
